<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Insurance Application</title>
    
</head>

<body>
    <header>
        <h1>Medical Insurance Application</h1>
    </header>

    <main>
        <form action="/predict_charges" method ="post">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required><br><br>

            <label for="sex">Sex:</label>
            <select id="sex" name="sex" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br><br>

            <label for="bmi">BMI (Body Mass Index):</label>
            <input type="number" step="any" id="bmi" name="bmi" required><br><br>

            <label for="children">Number of Children:</label>
            <input type="number" id="children" name="children" required><br><br>

            <label for="smoker">Smoker:</label>
            <select id="smoker" name="smoker" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br><br>

            <label for="region">Region:</label>
            <select id="region" name="region" required>
                <option value="northwest">Northwest</option>
                <option value="northeast">Northeast</option>
                <option value="southwest">Southwest</option>
                <option value="southeast">Southeast</option>
            </select><br><br>

            <input type="submit" value="Submit">
        </form>
        
    </main>

    <footer>
        " THANK YOU FOR JOINING US.. ! "
        'FOR CONTACT US :'
        
        <!-- Contact Us button -->
        <button onclick="window.location.href='surajlede10@gmail.com'">Contact Us</button>
        
    </footer>
</body>

</html>
